<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>Welcome to my first Django page.</p>
    <h1>{{ title }}</h1>
    <h1> HI {{ username }}</h1>
    
    
    {% comment %} {% if username %}
    <p>Hi {{username}}!!!</p>
    {% else %}
    <p>Hi Guests</p>
    {% endif %} {% endcomment %}

    <ul>
        {% for i in numbers %}
            {% if i|divisibleby:2 %}
        
                <li>{{i}} - Even</li>
            {% else %}
                <li>{{i}} - Odd</li>
            {%endif%}
        {% endfor %}
    </ul>

    <h2>{{ description }}</h2>
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>